

{% block body %}

<h3>Hey {{ firstName }}, bienvenue sur le site de la liste des choses à faire, voici vos identifiants de connexion</h3>
<p>N'oublie pas ton mot de passe: {{ password }}</p>



{% endblock %}